		<div class="jumbotron">
			<h1>Parking Available</h1>
			<p>Two parking spots available starting July 1. </p>
			<p><a class="btn btn-primary btn-lg">Learn more</a></p>
		</div>
<h1>Coming soon...</h1>
