<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A user submitted the contact form at 2433Winnemac.com</h1>

    <p>
      Contact Name: <%= @message_info.name %>.<br>
    </p>
    <p>
      Contact Email: <%= @message_info.email %>.<br>
    </p>
    <p>
      Subject: <%= @message_info.subject %>.<br>
    </p>
    <p>
      Message: <%= @message_info.message %>.<br>
    </p>
  </body>
</html>