/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.resized-image{
	height: 400px;
	width: auto;

}

.white-background{
	background-color: white;
}

.slick-img-background{
	padding: 5px;
	height: 312px;
}

.inner {
    width: 50%;
    margin: 0 auto;
}

.jssora02l, .jssora02r {
  display:block;
  position:absolute;
  width:55px;
  height:55px;
  cursor:pointer;
  background:url(http://cdn0.2433winnemac.com/images/a02.png) no-repeat;
  overflow:hidden
}

.jssora02l {
  background-position: -3px -33px
}
.jssora02r {
  background-position: -63px -33px
}
.jssora02l:hover {
  background-position: -123px -33px
}
.jssora02r:hover {
  background-position: -183px -33px
}
.jssora02l.jssora02ldn {
  background-position: -3px -33px
}
.jssora02r.jssora02rdn {
  background-position: -63px -33px
}

.jssor02r {
  /*position: absolute;*/
  /*left: 0;*/
  /*top: 300px;*/
  margin-left: 465px;
}

.jssor02l {
  margin-left: 15px;
}