// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-image-container {
  text-align: center;
  .main-image {
    width: 100%;
    height: auto;
  }
}